<div class="parallax-container">
  <div class="container">
    <div class="row">
      <div class="col s12 header-margin-top">
          <div class="row no-margin-bottom">
              <div class="col s12">
                <h1 class="head-text header">MobileStore</h1>
              </div>
          </div>
      
          <div class="row no-margin-bottom">
            <div class="col s12">
                    <h5 *ngIf="screeoOrientation == 'portrait'" class="head-text">לאורך</h5>
                    <h5 *ngIf="screeoOrientation == 'landscape'" class="head-text">לרוחב</h5>

              <h5 class="head-text">מובייל הוא תחום ההתמחות שלנו!</h5>
            </div>
          </div>
      </div>
    </div>

  </div>
  <div class="parallax" materialize="parallax">
    <img src="assets/background/increasing-the-productivity.jpg">
  </div>
</div>

<!-- <div class="section white">
    <div class="row container">
        <h2 class="header">ברוך הבא!</h2>
        <p class="grey-text text-darken-3 lighten-3">היכנס כבר עכשיו לצפייה באחוזי המכירות שלך!</p>
    </div>
</div> -->

<div class="parallax-container">
        <div class="container">
            <div class="row">
                <div class="col s12 header-margin-top">
                    <div class="section">
                        <h2 class="head-text header">ברוך הבא!</h2>
                        <p class="head-text">היכנס כבר עכשיו לצפייה באחוזי המכירות שלך!</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="parallax" materialize="parallax">
        <img src="assets/background/motivate-employees.png"></div>
</div>