<div class="row">
    <div class="col 12">

    <!-- TEMP DATA -->
    <div class="card">
        <div class="card-move-up waves-effect waves-block waves-light">
            <div class="move-up cyan darken-1">
                <img src="assets/background/graph-top.jpg" class="trending-line-chart-wrapper responsive-img" style="z-index:0;">
            </div>
        </div>
        <div class="card-content">
            <img src="assets/background/graph-bottom.jpg" class="responsive-img" style="z-index:0;">
            <br>
        </div>
    </div>
    <!-- TEMP DATA -->
    
</div>